{% extends "::base.html.twig" %}

{% block title %}Listagem de Carros por fabricante{% endblock %}

{% block body %}
<h1>Lista de modelos</h1>
<table class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Cor</th>                        
        </tr>
    </thead>
    <tbody>     
{% for veiculo in veiculos %}
    <tr>
        <td>{{ veiculo.fabricante_id.nome }}</td>
        <td>{{ veiculo.modelo }}</td>
        <td>{{ veiculo.ano }}</td>
        <td>{{ veiculo.cor }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}